/*basic styles*/
* {
	box-sizing: border-box;
	margin: 0;
  	padding: 0;
}

body {
	font-family: sans-serif;
}
.container{
	width: 90%;
	margin:auto;
}
h1 {
	text-align: center;
}

.menuItem {
	border: 1px solid black;
	position: relative;
	background-color: #9A9A9A;
	padding: 10px;
	margin: 10px;
}

.itemName{
	border-bottom: 1px solid black;
	border-left: 1px solid black;
	border-right: 1px solid black;
	position: relative;
	top: 0;
	right: 0;
	width: 65px;
	text-align: center;
}

.red{
	background-color: firebrick;
}
.olive{
	background-color: burlywood;
}
.pink{
	background-color: lightpink;
}

/*MEDIA*/
/*PC*/
@media (min-width: 992px)
{

}

/*Tab*/
@media (min-width: 768px) and (max-width: 991px)
{


}

/*Mob*/
@media (max-width: 767px)
{

}
